.nc-collectionPage {
  &-localeSelector {
    font-size: 16px;
    height: 1.75em;
    position: absolute;
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
    width: 3em;
  }

  &-sidebarHeading {
    position: relative;
  }

  &-sidebarLink {
    &.locale-hidden {
      display: none;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  &-sidebarSearch {
    margin-bottom: 16px;
  }
}
