
<li class="teaser-text-side__wrapper">

  <div class="teaser-text-side__image__wrapper">
    <a href="{{ .URL }}">
      <SrcSet
        classname="teaser-text-side__image"
        src="{{ .Params.Image }}"
        sizes="
          (max-width: 729px) 100vw,
          (max-width: 1024px) 60vw,
          705px" ></SrcSet>
    </a>
  </div>

  <div class="teaser-text-side__text__wrapper">
    <p class="teaser-text-side__text">{{ .Title }}</p>

    <span class="teaser-text-side__text__link">
      <a href="{{ .URL }}" class="link__button-black-secondary">{{ i18n "ReadMore" | default "Read More" }}</a>
    </span>
  </div>
</li>
