{{ define "main" }}

<div class="blog-post__header" style="background-image:url({{ .Params.Image }})">

  <div class="blog-post__header-title__wrapper">
    <h1 class="blog-post__header-title">{{ .Title }}</h1>
  </div>

</div>

<section class="layout-container--inner">
  {{ .Content }}

   {{ range .Params.people }}
      {{ range where (where $.Site.RegularPages "Section" "people") ".Title" .people }}
  <h1 class="profiles__title">{{ i18n "Author" | default "Author" }}</h1>

  <ul class="profiles__list">

        {{ .Render "li"}}
      {{ end }}
    {{ end}}

  </ul>

</section>


{{ end }}
