
<li class="profile">

  <div class="profile__image__wrapper">
    <a href="{{ .URL }}" target="_self">
      <img class="profile__image" src="{{ .Params.Image }}">
    </a>
  </div>

  <div class="profile__text__wrapper">

    <a href="{{ .URL }}" target="_self" class="profile__text-link">
      <h3 class="profile__text">{{ .Title }}</h3>
    </a>

    <p class="profile__text">
   {{ .Body | markdownify }}</p>
    <span class="profile__text">
      {{ partial "profile__social-icons" . }}
    </span>
  </div>
</li>
