{{ define "main" }}

<div class="profile__header">
  <img class="profile__header__image-bg" src="{{ .Params.Image }}">
</div>

<div class="profile__header-info">
  <div class="profile__header-info__image__wrapper">
     <img class="profile__header-info__image" src="{{ .Params.Image }}">
  </div>

  <h1 class="profile__header-info__title">{{ .Title }}</h1>

  <ul class="profile__social-icons">

    <li class="profile__social-icons__item">
      <a href="#" target="_blank">
        <svg>
          <use xlink:href="#facebook-icon"></use>
        </svg>
      </a>
    </li>

    <li class="profile__social-icons__item">
      <a href="#" target="_blank">
        <svg>
          <use xlink:href="#instagram-icon"></use>
        </svg>
      </a>
    </li>

    <li class="profile__social-icons__item">
      <a href="#" target="_blank">
        <svg>
          <use xlink:href="#twitter-icon"></use>
        </svg>
      </a>
    </li>

  </ul>

</div>

<section class="layout-container--inner">

  <div class="profile__bio-content">
    {{ .Content }}
  </div>

    <h1 class="profiles__title">Author</h1>

    <ul class="profiles__list">
      {{ range .Params.people }}
        {{ range where (where $.Site.RegularPages "Section" "people") "Title" .person }}
          {{ .Render "li" }}
        {{ end }}
      {{ end}}
    </ul>

</section>
{{ end }}
