.blog__title {
  text-transform: uppercase;
  text-align: center;
  @include ritmo-font-size($h5-font-size);
  margin-top: ritmo(4);

  @include mq($from: break-medium) {
    margin-top: ritmo(6);
  }
}

.blog__text-intro {
  @include container(1000px);
  display: block;
  margin: 0 auto ritmo(6) auto;
  text-align: center;
}

.blog__list {
  display: block;
  margin: 0 auto;
  padding: 0;
  @include container(1000px);
}
