.is-markdown {
  li,
  ul {
      list-style-type: unset;
  }

  blockquote,
  pre {
      margin: 16px auto;
      width: 75%;
  }

  blockquote {
      padding-left: 16px;
      border-left: 3px solid #eee;
  }

  pre {
      white-space: pre-wrap;
  }

  pre code {
      display: block;
      width: 100%;
      overflow-y: auto;
      background-color: #000;
      color: #ccc;
      padding: 10px;
  }

  code {
      background-color: #eee;
      border-radius: 4px;
      padding: 0 2px;
      font-size: 85%;
  }
}
