// Navigation styles
.navigation {
  width: 100%;
  position: relative;
  max-height: ritmo(20);
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: palette(grey);
  transition: background ease 0.3s;

  @include mq($until: break-medium-large) {
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    z-index: 99; // to be below netfly modal
    padding: 0;
  }

  @include mq($from: break-medium-large) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99; // to be below netfly modal
    max-height: ritmo(16);
    padding-bottom: ritmo(15);
    text-align: center;

    &.navigation--fixed-top {
      // Uncomment and customize as necessary
      //background-color: palette(black);
    }
  }
}

.navigation__menu {

  @include mq($until: break-medium-large) {
    background: palette(grey);
    max-height: 0;
    text-align: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity ease 0.35s;

    .is-open & {
      opacity: 1;
      max-height: ritmo(134);
    }
  }

  @include mq($from: break-medium-large) {
    margin-top: ritmo(5);
    position: relative;
  }
}

.has-dropdown {
  position: relative;
  cursor: default;

  &::before {
    content: '';
    position: absolute;
    border: solid palette(brand);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    z-index: 5;
    pointer-events: none;
    transform: rotate(45deg);
    right: 20px;
    top: 26px;
  }

  @include mq($from: break-medium-large) {

    &::before {
      display: none;
    }
  }
}

.navigation__menu-item {
  display: block;
  position: relative;
  background-color: palette(grey);
  width: auto;
  font-weight: 700;

  @include mq($from: break-medium-large) {
    display: inline-block;
    margin: 0 0.15em;
    text-transform: uppercase;
    background-color: transparent;
  }
}

.navigation__submenu {
  transition: all ease 0.35s;
  min-width: 100%;
  text-align: center;
  padding: 0;
  z-index: 10;
  background: palette(grey);

  @include mq($from: break-medium-large) {
    display: none;
    background: palette(black);
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    .navigation__menu-item:hover & {
      display:block;
    }
  }

  .navigation__menu-item {
    display: block;
    margin: 0 auto;
  }
}

.navigation__menu-link {
  @include ritmo-font-size(ritmo(3));
  padding: ritmo(4) 0;
  display: block;
  color: palette(white);

  @include mq($from: break-medium-large) {
    padding: ritmo() 16px;
    transition: background 0.3s ease;
    @include ritmo-font-size(12px);
  }

  &:hover {
    background: palette(white);
    color: palette(grey);

    @include mq($from: break-medium-large) {
      background: palette(white);
    }
  }

  .navigation__menu-item.is-active > & {
    font-weight: 700;
    color: palette(grey);
    background: palette(white);
  }

  &.is-hidden {
    display: none;

    @include mq($from: break-medium-large) {
      display: inline-block;
    }
  }

  .navigation__submenu & {
    color: palette(white);

    &:hover {
      background: palette(white);
      color: palette(grey);
    }
  }
}

.navigation__mobile-menu__icon {
  display: block;
  position: absolute;
  top: ritmo(6);
  right: 10px;
  width: 30px;
  height: ritmo()/2;
  transition: rotate ease 1s;
  background-color: palette(white);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: ritmo()/2;
    background-color: palette(white);
  }

  &:before {
    top: - ritmo(1.4);
  }

  &:after {
    bottom: - ritmo(1.4);
  }

  .is-open & {
    transform: rotate(180deg);
    background: none;

    &:before {
      top: 0;
      transform: rotate(45deg);
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

.navigation__mobile-menu__toggle {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: ritmo(12);
  cursor: pointer;
  margin-left: 65px;

  @include mq($from: break-medium-large) {
    display: none;
  }
}

/* Locations submenu */

.navigation__submenu--locations {

  .navigation__menu-item.is-active a.navigation__menu-link {
    border-top: 1px solid palette(white);
  }

  @include mq($from: break-medium-large) {

    .navigation__menu-item:hover & {
      flex-wrap: wrap;
      display: flex;
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    .navigation__menu-item {
      display: inline-flex;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      border-top: 1px solid palette(grey);

      &.is-active a.navigation__menu-link {
        background: palette(white);
        color: palette(grey);
        font-weight: 700;
      }
    }

    .navigation__menu-link {
      display: flex;
      width: 100%;
      align-items: center;
    }
  }
}

.navigation__submenu--locations__img__wrapper {

  @include mq($from: break-medium-large) {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    margin-right: 10px;
  }
}

.navigation__submenu--locations__img {
  display: none;

  @include mq($from: break-medium-large) {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    height: 105%;
    max-width: none;
    transform: translate3d(-50%, -50%, 0);
  }
}

.navigation-logo {
  position: absolute;
  max-width: 300px;
  height: 43px;
  top: 8px;
  left: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;

  @include mq($from: break-medium-large) {
    // opacity: 0;
    top: 20px;
    left: 10px;

    // &.visible-logo {
    //   opacity: 1;
    // }
  }

  .navigation-logo__svg {
    padding: 0;
    margin-left: 10px;
    display: block;
    background-color: transparent;
    width: 100%;
    max-width: 290px;
    height: 100%;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      background: transparent;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 5;
    }

    &:hover {
      background: transparent;
    }
  }
}

.navigation-logo__svg-element {
  display: block;
  width: 45px;
  height: 100%;
  fill: palette(white);
}
