
/*
** page titles hover image
*/

.page__header{
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  margin-top: ritmo(12);

  @include mq($from: break-medium) {
    margin-top: ritmo(16);
  }
}

.page__header-title__wrapper {
  flex: 0 0 100%;
  align-content: center;
  text-align: center;
  padding: ritmo(5) 10px;
}

.page__header-title,
.page__header-subtitle {
  font-weight: 400;
  color: palette(white);
}

.page__header-subtitle {
  @include ritmo-font-size($h4-font-size);
}

/*
** page titles
*/

.page__title {
  text-transform: uppercase;
  text-align: center;
  @include ritmo-font-size($h5-font-size);
  margin-top: ritmo(4);

  @include mq($from: break-medium) {
    margin-top: ritmo(6);
  }
}

.page__text-intro {
  @include container(1000px);
  display: block;
  margin: 0 auto ritmo(6) auto;
  text-align: center;
}
