.profiles__title {
  @extend %page__title;
}

.profiles__text-intro {
  @extend %page__text-intro;
}

.profiles__list {
  @include container(1000px);
  padding: 0;
  margin: 0 auto;
  flex-flow: row wrap;
  display: flex;

  @include mq($from: break-medium) {
    justify-content: center;
  }
}

.profile {
  flex-wrap: wrap;
  align-items: stretch;
  position: relative;
  flex: 1 1 100%;
  margin-bottom: ritmo(6);

  @include mq($from: break-medium) {
    flex: 0 0 50%;
    padding: ritmo(4) 10px;
    margin-bottom: ritmo(4);
  }

  @include mq($from: break-large) {
    flex: 0 0 33%;
  }
}

.profile__wrapper {
  max-width: 730px;
}

.profile__image__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
}

.profile__image {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: none;
  height: 100%;
}

.profile__text__wrapper {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid palette(grey, light);
  padding: ritmo(4) 10px;
}

.profile__text {
  flex: 0 0 100%;
  text-align: center;
  margin: ritmo() auto;
  display: block;
  text-align: center;
}

.profile__text-link {
  color: palette(black);
  text-align: center;
  display: block;
  margin: 0 auto;
  &:hover,
  &:focus {
    color: palette(grey, mid-light);
  }
}

.profile__social-icons {
  display: block;
  margin: ritmo(4) auto 0 auto;
  padding: ritmo(4) 0 0 0;
  @include container(65%);
  border-top: 1px solid palette(grey, mid-light);

  svg {
    width: 40px;
    height: 40px;
    fill: palette(black);
    vertical-align: top;
    transition: fill ease 0.5s;

    &:hover {
      fill: palette(grey)
    }
  }
}

.profile__social-icons__item {
  display: inline-block;
  margin: 0 5px;

  a:hover {
    background: transparent;
  }
}
