.reservation__wrapper {
  position: relative;
  margin-bottom: 40px;

  &:not(.isMounted) {
    display: none;
  }

  // Hide all elements except for the final message when the user is finished.
  &.lastSlide {
    .reservation-location-buttons__container,
    .reservation-guide__content,
    .reservation__controls {
      visibility: collapse;
    }
  }
}

.reservation__top-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .tns-outer {
    max-width: 100%;

    @include mq($from: break-medium-large) {
      max-width: 500px;
    }
  }
}

.reservation__panels {
  display: flex;
}
