.styleguide__wrapper {
  @include container(1024px);
  padding: ritmo(16) 10px ritmo(4);
  margin: ritmo(5) auto;
  position: relative;

  .navigation {
    position: relative;
    padding-top: 1px;
    z-index: 1;
  }

  .contact-form {
    margin-left: 0;
  }

  .profile {
    margin-left: 0;
    @include container(450px);
  }
}

.section-component__title,
.section-component__subtitle {
  color: palette(blue);
  text-transform: uppercase;
  text-align: center;
}

.section-component__title {
  @include ritmo-font-size($h3-font-size);
}

.section-component__subtitle {
  @include ritmo-font-size($h5-font-size);

  &:before,
  &:after {
    display: block;
    content: "";
    height: 1px;
    background: palette(grey, light);
    margin: ritmo(3) auto;
  }
}

.styleguide__section-component {
  margin-bottom: ritmo(5);
}

.styleguide__section-component__title {
  @include ritmo-font-size($h5-font-size);
  margin-bottom: ritmo(2);

  &:after {
    display: block;
    content: "";
    height: 1px;
    background: palette(grey, light);
    margin: ritmo(2) auto ritmo(3) 0;
    width: 50%;
  }
}

.styleguide-component__morearrow-wrapper {
  padding-top: 80px;
  position: relative;
}

.styleguide__header__faux-h1 {
  @include ritmo-font-size($h1-font-size);
}

.styleguide__header-span {
  color: palette(grey, mid-light);
}

.styleguide__colour-block {
  @include ritmo-font-size($h6-font-size);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: ritmo(3) 10px;
  display: inline-block;
}

.styleguide__colour-block--black {
  background-color: palette(black);
  color: palette(white);
}

.styleguide__colour-block--white {
  background-color: palette(white);
  color: palette(black);
  border: 1px solid palette(black);
}

.styleguide__colour-block--brand {
  background-color: palette(brand);
  color: palette(white);
}

.styleguide__colour-block--brand-dark {
  background-color: palette(brand, dark);
  color: palette(white);
}

.styleguide__colour-block--brand-light {
  background-color: palette(brand, light);
  color: palette(white);
}

.styleguide__colour-block--brand-complementary {
  background-color: palette(brand, complementary);
  color: palette(white);
}
