
.teaser__grid {
  flex-wrap: wrap;

  @include mq($from: break-medium) {
    display: flex;
    flex-wrap: nowrap;
  }
}

%teaser__wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  display: flex;
  flex: 0 0 100%;
}

.teaser__wrapper {
  @extend %teaser__wrapper;

  .teaser__grid & {
    flex: 1 1 33%;
    margin: ritmo() 5px;

    @include mq($from: break-medium) {
      height: 250px;
      padding: 0;
    }
  }

  .slider__wrapper & {

    @include mq($from: break-medium) {
      height: 500px;
      padding: 0;
    }
  }
}

%teaser__text,
.teaser__text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  color: palette(white);
  text-align: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  cursor: default;
}

.teaser__text-content {
  flex: 0 0 100%;
  margin: 0 auto ritmo(2) auto;
}

%teaser__element {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: none;
  height: 100%;
  z-index: 1;
  filter: grayscale(.35) brightness(.75);
}

.teaser__element {
  @extend %teaser__element;

  .teaser__grid & {

    @include mq($from: break-medium) {
      max-height: 250px;
    }
  }
}

.teaser-text-side__wrapper {

  .teaser-text-side__container {
    display: flex;
    flex-wrap: wrap;

    @include mq($from: break-medium) {
      flex-wrap: nowrap;
      align-items: stretch;
    }
  }

  &:nth-child(2n+1) {

    .teaser-text-side__text__wrapper {

      @include mq($from: break-medium) {
        order: 1;
      }
    }

    .teaser-text-side__image__wrapper {

      @include mq($from: break-medium) {
        order: 2;
      }
    }
  }
}

.teaser-text-side__image__wrapper {
  flex: 0 0 100%;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  margin: 0;

  @include mq($from: break-medium) {
    flex: 0 0 60%;
    height: 300px;
    padding: 0;
  }
}

.teaser-text-side__image {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
  max-width: none;
  height: 100%;
  z-index: 1;
}

.teaser-text-side__text__wrapper {
  flex: 0 0 100%;
  display: flex;
  align-content: center;
  text-align: center;
  border: 1px solid palette(grey, light);
  flex-wrap: wrap;
  padding: ritmo(5) 10px;

  @include mq($from: break-medium) {
    flex: 1 1 40%;
  }
}

.teaser-text-side__text,
.teaser-text-side__text__link {
  flex: 0 0 100%;
}
