{{ if $.Site.Data.settings.ga }}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ $.Site.Data.settings.ga }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ $.Site.Data.settings.ga }}');
  </script>
{{ end }}
{{ if $.Site.Data.settings.fp }}
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ $.Site.Data.settings.fp }}');
    fbq('track', 'PageView');
    {{ if $.Site.Data.settings.fpe }}
      {{ range where $.Site.Data.settings.fpe ".event" "ne" "PageView" }}
        fbq('track', '{{ .event }}');
      {{ end }}
    {{ end }}
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={{ $.Site.Data.settings.fp }}&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
{{ end }}
