<EndFooter hidden="true"
  homelink="{{ .Site.BaseURL | relLangURL }}"
  {{ if (eq $.Site.Language.Lang "pt") }}
    copyright={{ $.Site.Data.settings.footer_pt }}
  {{ else }}
    copyright={{ $.Site.Data.settings.footer_en }}
  {{ end }}
>

  {{ range sort .Site.Sections "Params.pagetitle" "asc" }}
    {{ if (isset .Params "pagetitle") | and (ne .Params.pagetitle "") }}
      <Link label="{{ .Params.pagetitle }}" url="{{ .URL }}"></Link>
    {{ end }}
  {{ end }}

  {{ range where (where $.Site.RegularPages "Section" "pages") "Params.promote" true }}
    <Link label="{{ .Title }}" url="{{ .URL }}"></Link>
  {{ end }}

  {{ range where $.Site.RegularPages "Section" "contact_page" }}
    <Link label="{{ .Title }}" url="{{ .URL }}"></Link>
  {{ end }}

  {{ range $.Site.Data.settings.social }}
    <Social name="{{ .name }}" value="{{ .link }}"></Social>
  {{ end }}

</EndFooter>
