<footer class="footer">
  <ul class="footer__menu">
    <li class="footer__menu-item"><a href="/">home</a></li>
    <li class="footer__menu-item"><a href="/about">About</a></li>
    <li class="footer__menu-item"><a href="/blog">Blog</a></li>
  </ul>
  <ul class="footer__social-icons">
    <li class="footer__social-icons__item">
      <a href="#" target="_blank">
        <svg>
          <use xlink:href="#facebook-icon"></use>
        </svg>
      </a>
    </li>
    <li class="footer__social-icons__item">
      <a href="#" target="_blank">
        <svg>
          <use xlink:href="#instagram-icon"></use>
        </svg>
      </a>
    </li>
    <li class="footer__social-icons__item">
      <a href="#" target="_blank">
        <svg>
          <use xlink:href="#twitter-icon"></use>
        </svg>
      </a>
    </li>
  </ul>

  <div class="footer__copyright">

    <a href="/" class="footer__copyright-logo">
      <svg>
        <use xlink:href="#logo-main"></use>
      </svg>
    </a>

    <p>&copy; 2017 {{ .Site.Title }}</p>
  </div>

</footer>
