<TopHeader
  locale="{{ .Site.Language.Lang }}"
  homelink="{{ .Site.BaseURL | relLangURL }}"
  activeurl="{{ .URL }}"
  locationslabel="{{ i18n "Locations" }}"
>

  {{ partial "locale_switcher" . }}

  {{ range sort .Site.Sections "Params.pagetitle" "asc" }}
    {{ if (isset .Params "pagetitle") | and (ne .Params.pagetitle "") }}
      <Link label="{{ .Params.pagetitle }}" url="{{ .URL }}"></Link>
    {{ end }}
  {{ end }}

  {{ range where (where $.Site.RegularPages "Section" "pages") "Params.promote" true }}
    <Link label="{{ .Title }}" url="{{ .URL }}"></Link>
  {{ end }}

  {{ range where $.Site.RegularPages "Section" "contact_page" }}
    <Link label="{{ .Title }}" url="{{ .URL }}"></Link>
  {{ end }}

  {{ range where $.Site.RegularPages "Section" "location" }}
    <Location label="{{ .Title }}" url="{{ .URL }}" image="{{ .Params.header }}"></Location>
  {{ end }}

</TopHeader>
