  <Locale value="{{ .Site.Params.locale }}"></Locale>
  <ActiveUrl value="{{ .URL }}"></ActiveUrl>
  <Email value="{{ $.Site.Data.settings.email }}"></Email>

  <String category="label" name="previous" value="{{ i18n "Previous" }}"></String>
  <String category="label" name="next" value="{{ i18n "Next" }}"></String>
  <String category="label" name="finish" value="{{ i18n "Finish" }}"></String>

  <String category="mode" name="visit" value="{{ i18n "ModeVisit" }}"></String>
  <String category="mode" name="booking" value="{{ i18n "ModeBooking" }}"></String>

  <String category="options" name="time" value="{{ i18n "OptionsTime" }}"></String>
  <String category="options" name="officeHours" value="{{ i18n "OptionsOfficeHours" }}"></String>
  <String category="options" name="howManyPeople" value="{{ i18n "OptionsHowManyPeople" }}"></String>

  <String category="info" name="name" value="{{ i18n "InfoName" }}"></String>
  <String category="info" name="email" value="{{ i18n "InfoEmail" }}"></String>
  <String category="info" name="notes" value="{{ i18n "InfoNotes" }}"></String>

  <String category="finished" name="sending" value="{{ i18n "FinishedSending" }}"></String>
  <String category="finished" name="title" value="{{ i18n "FinishedTitle" }}"></String>
  <String category="finished" name="messageVisit" value="{{ i18n "FinishedMessageVisit" }}"></String>
  <String category="finished" name="messageBooking" value="{{ i18n "FinishedMessageBooking" }}"></String>
  <String category="finished" name="failed" value="{{ i18n "FinishedFailed" }}"></String>
  <String category="finished" name="messageFailed" value="{{ i18n "FinishedMessageFailed" }}"></String>

  <String category="guide" name="calendar" value="{{ i18n "GuideCalendar" }}"></String>
  <String category="guide" name="extras" value="{{ i18n "GuideExtras" }}"></String>
  <String category="guide" name="time" value="{{ i18n "GuideTime" }}"></String>
  <String category="guide" name="weekend" value="{{ i18n "GuideWeekend" }}"></String>
  <String category="guide" name="info" value="{{ i18n "GuideInfo" }}"></String>

  <String category="status" name="options" value="{{ i18n "StatusOptions" }}"></String>
  <String category="status" name="visitDate" value="{{ i18n "StatusVisitDate" }}"></String>
  <String category="status" name="visitTime" value="{{ i18n "StatusVisitTime" }}"></String>
  <String category="status" name="booking" value="{{ i18n "StatusBooking" }}"></String>
  <String category="status" name="bookingPeople" value="{{ i18n "StatusBookingPeople" }}"></String>
  <String category="status" name="fries" value="{{ i18n "StatusFries" }}"></String>

  {{ range where $.Site.RegularPages "Section" "location" }}
    <Button label="{{ .Title }}" url="{{ .URL }}"></Button>
  {{ end }}

  <Option label="{{ i18n "ExtrasScreen" }}"></Option>
  <Option label="{{ i18n "ExtrasChromebook" }}"></Option>
  <Option label="{{ i18n "Extras247" }}"></Option>
