//
// Variables partial
//
// To make it easier to use all variables and mixins in any Sass file.
// This is then called in app.scss and is available for all other files.
//

//
// Font faces, stacks and sizes
//

// Ritmo for vertical ritmo management is a powerful tool to set up a vertical
// ritmo for your entire page.
// @see https://github.com/marzeelabs/ritmo
// @see _ritmo.scss for the defaults used.
// $base-font-size:   16px; // The font size set on the root html element.
// $base-line-unit: 5px; // This determines the unit of vertical ritmo.
// $base-line-multi: 5; // The defines the multiplication factor of the unit

// Font family
$base-font-family: 'Muli', sans-serif;
$code-font-family: monospace;

// Header font sizes
$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 25px;
$h4-font-size: 21px;
$h5-font-size: 18px;
$h6-font-size: 14px;


//
// Colors palette
// Add your own color groups and variations
// Call them using the palette function
// @see _functions.scss
//

$palettes: (
  black: (
    base: rgb(0, 0, 0) // #000 palette(black)
  ),

  grey: (
    light: rgb(237, 237, 237), // #EDEDED palette(grey, light),
    mid-light: rgb(179, 179, 179), // #B3B3B3 palette(grey, mid-light),
    base: rgb(77, 77, 77), // #4D4D4D palette(grey)
  ),

  blue: (
    base: rgb(85, 188, 224), // #55BCE0 palette(blue)
  ),

  brand: (
    complementary: rgb(251, 174, 49), // #fbae31 palette(brand, complementary)
    dark: rgb(0, 115, 130), // #007382 palette(brand, dark)
    base: rgb(77, 77, 77), // #4D4D4D palette(grey)
    light: rgb(68, 193, 193) // #44c1c1 palette(brand, light)
  ),

  white: (
    base: rgb(255, 255, 255) // #fff palette(white)
  )
);

//
// Breakpoints
//

$mq-breakpoints: (
  break-extra-small: 400px,
  break-small: 480px,
  break-small-large: 520px,
  break-medium-small: 600px,
  break-medium: 730px,
  break-medium-large:820px,
  break-large: 980px,
  break-big: 1200px,
  break-bigger: 1440px,
  break-huge: 2000px
);

//
// Grids
//
// We are going to create a 1240px wide, 6 column grid with 20px gutters between
// columns (applied as 10px of left/right padding on each column).
$canvas-width: 1260px;
$canvas-width-narrow: 1024px;

$susy: (
  output: float,
  gutter-position: inside-static,
  container: 1260px,
  columns: 6,
  column-width: 210px,
  gutters: 20px/210px,
  //debug: (image: show)
);
