/* Insert here the base styles */

/* Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $base-font-family; /* 1 */
  letter-spacing: 0.1em;
  background: palette(grey, mid-dark);
}

@include ritmo-baseline();

h1 {
  font-weight: 600;
  margin: 0 0 ritmo(4);

  @include mq($until: break-medium-small) {
    @include ritmo-font-size($h3-font-size);
  }
  @include mq($from: break-medium-small) {
    @include ritmo-font-size($h1-font-size, 8);
  }
}

h2 {
  font-weight: 600;
  margin: 0 0 ritmo(4);

  @include mq($until: break-medium-small) {
    @include ritmo-font-size($h4-font-size);
  }
  @include mq($from: break-medium-small) {
    @include ritmo-font-size($h2-font-size);
  }
}

h3 {
  font-weight: 600;
  margin: 0 0 ritmo(3);

  @include mq($until: break-medium-small) {
    @include ritmo-font-size($h5-font-size);
  }
  @include mq($from: break-medium-small) {
    @include ritmo-font-size($h3-font-size);
  }
}

h4 {
  font-weight: 600;
  margin: 0 0 ritmo(2);

  @include mq($until: break-medium-small) {
    @include ritmo-font-size($h6-font-size);
  }
  @include mq($from: break-medium-small) {
    @include ritmo-font-size($h4-font-size);
  }
}

h5 {
  font-weight: 600;
  margin: 0 0 ritmo(2);

  @include mq($until: break-medium-small) {
    @include ritmo-font-size($h6-font-size);
  }
  @include mq($from: break-medium-small) {
    @include ritmo-font-size($h5-font-size);
  }
}

h6 {
  font-weight: 600;
  @include ritmo-font-size($h6-font-size);
  margin: 0 0 ritmo(1);
}


/**
 * Set Responsive images.
 */

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

p {
  font-weight: 400;
  margin: 0 0 ritmo(4);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style-type: none;
}

svg.svg-default {
  display: none;
}
