/**
 * Center the page.
 *
 * Define a min-width for smaller devices.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
header,
main,
footer {
  min-width: 320px;
}

.layout-container,
%layout-container {
  max-width: $canvas-width-narrow;
  margin: ritmo(12) auto 0 auto;
  padding: ritmo(3) 10px;
  @include pie-clearfix();

  @include mq($from: break-medium) {
    margin: ritmo(16) auto 0 auto;
  }
}

%layout-container--inner,
.layout-container--inner {
  @extend %layout-container;
  margin-top: ritmo(4);
}

