{{ define "main" }}

  <section class="layout-container">
    <h1 class="profiles__title">People</h1>

    <p class="profiles__text-intro">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et tincidunt odio, ut semper dolor. Etiam at massa vitae enim tempus luctus in hendrerit eros. Vivamus ornare, nulla a vestibulum lacinia, nisl velit pharetra nunc, sed malesuada erat nibh eu purus.
    </p>

    <ul class="profiles__list">
      {{ range .Data.Pages }}
        {{ .Render "li"}}
      {{ end }}
    </ul>

  </section>

{{ end }}
